:root {
  --background-color: #f0f6f6;
  --clock-body-color: #f39237;
  --clock-hand-color: #443545;
  --second-hand-color: #d81e5b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--background-color);
  display: grid;
  justify-items: center;
  align-items: center;
}

.clock-body {
  position: relative;
  height: 200px;
  width: 200px;
  border: 5px solid var(--clock-body-color);
  border-radius: 100px;
  padding: 5px;
}

.center-knob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  background-color: var(--clock-hand-color);
  z-index: 5;
}

.hand {
  position: absolute;
  transform-origin: 100%;
}

.hand--second {
  top: calc(50% - 1px);
  height: 2px;
  z-index: 3;
  width: calc(50% - 5px);
  background-color: var(--second-hand-color);
}

.hand--minute {
  background: var(--clock-hand-color);
  top: calc(50% - 2.5px);
  left: 10%;
  height: 5px;
  width: calc(40%);
}

.hand--hour {
  background: #f0544f;
  top: calc(50% - 3px);
  height: 6px;
  width: 25%;
  left: 25%;
  border-radius: 2px;
}
